<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./profesor.css" />
    <title>Login & Register Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</head>

<body>
  <div id="app">

    <nav>
        <div>
            <h1>Escuela Unitaria</h1>
        </div>
        <div class="contenedor-perfil">
            <div class="perfil" @click="cambiarLabel()">
                <h4>{{cliente.nombre+ " "+ cliente.apellido }}</h4>
                <img src="./img/3135768.png" alt="" class="foto-perfil">
                
            </div>
            <div class="label" v-if="label">
                <a href="perfil.html">Perfil</a>
                <a href="./alumno.html">Clases</a>
                <a href="./lista-cursos.html">Cursos</a>
                <button @click="logout()">Cerrar Sesion</button>
                
            </div>
        </div>
        
        
    </nav>
    <main>
        
            <div class="contenedor-row">
                <div v-if="tareaEntregada" class="tareas-contenedor" >
                    <h5>trabajos ya entregados</h5>
                    <div v-for="clase in tareaEntregada" class="clases">
                        <div v-if="!modificarArchivo" class="nombre-clase">
                            <p>{{clase.nombreTarea}}
                                <br>
                                {{clase.nota}}
                            </p>
                            <a href="#" @click="descargarArchivo(clase.idEntrega)">{{clase.nombreArchivo}}</a>
                        </div>
                        <div v-if="modificarArchivo" class="nombre-clase flex-column" style="width: 45vw;">
                            <p>
                                {{clase.nombreArchivo}}
                            </p>
                        
                            <form enctype="multipart/form-data" >
                                <input class="file-select" id="archivoInput" type="file" ref="archivoInput" accept=".pdf, image/*" required>
                            </form>
                            
                        </div>
                        <div v-if="!modificarArchivo" class="info-editar">
                            
                            <div class="editar info-clase ">
                                <a href="#" @click="activarModificarArchivo()"> Modificar</a>
                            </div>
                        </div>
                        <div v-if="modificarArchivo" class="info-editar">
                            <div  class="editar info-clase ">
                                <a @click="cancelarModificar()" href="#"> Cancelar</a>
                            </div>
                            <div class="editar info-clase ">
                                <a @click="modificarArchivoTarea(clase.idEntrega)" href="#">Guardar</a>
                            </div>
                        </div>

                    </div>
                    
                    
        
                </div>
                <div v-if="tareasPendientes" class="tareas-contenedor" >
                    <h5>trabajos pendientes</h5>
                    <div v-for="clase in tareasPendientes" class="clases">
                        <div class="nombre-clase" v-if="!porCrearEntrega">
                            <p>{{clase.nombreTarea}}
                            </p>
                            <p>{{clase.descripcionTarea}}</p>
                            
                        </div>
                        <div class="nombre-clase flex-column" v-if="porCrearEntrega">
                            <p>{{clase.nombreTarea}}
                            </p>
                        
                            <form enctype="multipart/form-data" >
                                <input class="file-select" id="archivoInputTarea" type="file" ref="archivoInput" accept=".pdf, image/*" required>
                            </form>
                            
                        </div>
                        <div v-if="!porCrearEntrega" class="info-editar">
                            
                            <div class="editar info-clase ">
                                <a @click="activarPorCrearEntrega()" href="#">Subir trabajo</a>
                            </div>
                        </div>
                        <div v-if="porCrearEntrega" class="info-editar">
                            <div class="editar info-clase ">
                                <a @click="desactivarPorCrearEntrega()" href="#">Cancelar</a>
                            </div>
                            
                            <div class="editar info-clase ">
                                <a @click="crearEntrega(clase.id)" href="#">Guardar</a>
                            </div>
                        </div>
                    </div>
                    
                    
        
                </div>

            </div>
            <div v-if="ListCursosInscrito.length != 0" class="clases-contenedor" >
                <h3>Cursos anotados</h3>
                <div v-for="clase in ListCursosInscrito" class="clases">
                    <div class="nombre-clase">
                        <h4>{{clase.curso.numeroGrado}}</h4>
                        
                        <h4>{{clase.nombreAlumno}}</h4>
                    </div>
                    <div class="info-editar">
                        
                        
                        <div  class="info-clase eliminar">
                            <a @click="eliminarAlumnoDelCurso(clase.curso.id)" href="#"> eliminar</a>
                        </div>
                        
                        <div class="editar info-clase ">
                            <a :href="'/Alumno/informacionCurso.html?='+clase.id"> Mas Info</a>
                        </div>
                    </div>
                </div>
                
                
    
            </div>
        
        
        
        <div v-if="ListCursosInscrito.length == 0" class="clases-contenedor">

            <div class="informacion-vacia">
                <h4>no estas inscrito a ninguna clase</h4>
                <h5>si quieres aprender puedes ver nuestra lista de clases <a href="./lista-cursos.html"> aqui </a></h5>
            </div>

        </div>
        
        
    </main>

  </div>
    <!-- Pills navs -->
    
    <script src="https://kit.fontawesome.com/db55518b9d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./profesor.js"></script>
</body>
</html>
