<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./profesor.css" />
    <title>Login & Register Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</head>

<body>
  <div id="app">

    <nav>
        <div>
            <h1>Escuela Unitaria</h1>
        </div>
        <div class="contenedor-perfil">
            <div class="perfil" @click="cambiarLabel()">
                <h4>{{cliente.nombre+ " "+ cliente.apellido }}</h4>
                <img src="./img/3135768.png" alt="" class="foto-perfil">
                
            </div>
            <div class="label" v-if="label">
                <a href="perfil.html">Perfil</a>
                <a href="./alumno.html">Clases</a>
                <a href="./lista-cursos.html">Cursos</a>
                <button @click="logout()">Cerrar Sesion</button>
                
            </div>
        </div>
        
        
    </nav>
    <main>
        <div class="contenedor-informacion-alumno" v-if="cursoInformacion.length != 0">
            <div>
                <h3>informacion de {{cursoInformacion.curso.numeroGrado}} </h3>
                <div class="informacion-alumno-inscrito">
                    <div  class="informacion-alumno">
                        <div>
                            <p  >Profesor a cargo: {{cursoInformacion.curso.profesor.nombre + " "+ cursoInformacion.curso.profesor.apellido}} </p>
                            <p  >turno: {{cursoInformacion.curso.turno}} </p>
                            
                            
                        </div>
    
                        <div >
                            <p  > Descripcion: {{cursoInformacion.curso.descripcion}} </p>
                            
                        </div>

                    </div>
                    <div class="clase-alumno" v-if="!cambiarApodo">
                        <h6>apodo: {{cursoInformacion.nombreAlumno}} </h6>
                        <h6>email: {{cursoInformacion.alumno.email}} </h6>
                        <div class="info-alumno" >
                            <div  class="info-clase eliminar">
                                <a @click="eliminarAlumnoDelCurso(cursoInformacion.alumno.id)" href="#"> eliminar</a>
                            </div>
                            <div  class="info-clase editar">
                                <a @click="activarCambiarApodo()" href="#"> editar apodo</a>
                            </div>
                        </div>
    
                        
                    </div>
                    <div class="clase-alumno " v-else>
                        <h6>apodo: <input v-model="nuevoApodo" type="text"> </h6>
                        <h6></h6>
                        <div class="info-alumno" >
                            <div  class="info-clase editar">
                                <a @click="editarApodoCurso(cursoInformacion.alumno.id)" href="#"> guardar</a>
                            </div>
                            <div  class="info-clase eliminar">
                                <a @click="desactivarCambiarApodo()" href="#"> cancelar</a>
                            </div>
                            
                        </div>
    
                        
                    </div>

                </div>
                    
                    
            </div>
            
            <div class="contenedor-clases-alumno" >
                    <div v-if="tareaCursoInscrito" v-for="tarea in tareaCursoInscrito" class="tarea">
                        <p>tarea: {{tarea.nombreTarea}}</p>
                        <p>descripcion: {{tarea.descripcionTarea}}</p>
                        <div v-if="tareaEntregada" v-for="entrega in tareaEntregada">
                            <div class="informacion-tarea" v-if="entrega.id == tarea.id">
                                <p>nota: {{entrega.nota}} </p>
                                <a @click="descargarArchivo(entrega.idEntrega)" href="#">{{entrega.nombreArchivo}}</a>
                                <a href="#"  >
                                    modificar
                                    
                                </a>
                            </div>
                            
                        </div>
                        <div class="informacion-tarea" v-if="tareasPendientes" v-for="entrega in tareasPendientes">
                            <a href="#" v-if="entrega.id == tarea.id">entregar</a>
                        </div>

                        
                        
                    </div>
                
                

            </div>

        </div>
        <div v-if="cursoInformacion.length == 0" class="contenedor-formulario-crear-clase"> 
            no hay ningun curso seleccionado o no existe
            
        </div>
        
        
        
    </main>

  </div>
    <!-- Pills navs -->
    
    <script src="https://kit.fontawesome.com/db55518b9d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/Alumno/profesor.js"></script>
</body>
</html>
