<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./profesor.css" />
    <title>Login & Register Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</head>

<body>
  <div id="app">

    <nav>
        <div>
            <h1>Escuela Unitaria</h1>
        </div>
        <div class="contenedor-perfil">
            <div class="perfil" @click="cambiarLabel()">
                <h4>{{cliente.nombre+ " "+ cliente.apellido }}</h4>
                <img src="./img/3135768.png" alt="" class="foto-perfil">
                
            </div>
            <div class="label" v-if="label">
                <a href="perfil.html">Perfil</a>
                <a href="./profesor.html">Clases</a>
                <a href="./lista-alumnos.html">Alumnos</a>
                <button @click="logout()">Cerrar Sesion</button>
                
            </div>
        </div>
        
        
    </nav>
    <main>
        <div>
            <div class="botones-crear">
                <h4><a href="./clase-create.html">Crear una nueva clase</a></h4>
                <h4><a href="./crearTarea.html"> Crear una nueva tarea</a> </h4>
            </div>
            <div class="contenedor-row">
                
                <div v-if="listCurso" class="clases-contenedor" >
                    <div v-for="clase in listCurso" class="clases">
                        <div class="nombre-clase">
                            <p>{{clase.numeroGrado}}</p>
                        </div>
                        <div class="info-editar">
                            
                            <div class="info-clase">
                                <a href="#" @click="listaAlumnosCurso(clase.id)"> ver Alumnos</a>
                            </div>
                            <div class="editar info-clase ">
                                <a :href="'/Profesor/informacionCurso.html?='+clase.id"> Mas Info</a>
                            </div>
                        </div>
                    </div>
                    
                    
        
                </div>
                <div class="clases-contenedor" >
                    <div v-if="listaTareaEntregada" v-for="tarea in listaTareaEntregada" class="clases">
                        <div class="nombre-clase">
                            <p>{{tarea.nombreTarea}}</p>
                        </div>
                        <div class="info-editar">
                            
                            <div class="info-clase">
                                <a href="#" @click="listaAlumnoTareaEntregada(tarea.id)"> ver Alumnos</a>
                            </div>
                            <div class="editar info-clase ">
                                <a :href="'/Profesor/detalleTarea.html?='+tarea.id"> Mas Info</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div v-if="listCurso == null" class="clases-contenedor">

                    <div class="informacion-vacia">
                        <h4>no tienea ningun curso a tu nombre</h4>
                        <h5>crea uno <a href="./clase-create.html"> aqui </a></h5>
                    </div>
        
                </div>
            </div>
            
        </div>
        
        
        
        {{filterSerchAlumnos}}
        <div>

            

            <div class="filtros-alumnos">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input v-model="textoFiltro" type="text" id="form3Example1" class="form-control" placeholder="Buscar" />
                    </div>
                </div>
            </div>
            <div     class="alumnos-contenedor" >

                <div v-if="listaAlumnosTareaEntregada" class="alumnos-contenedor">
                    <div v-for="tarea in listaAlumnosTareaEntregada"  class="alumno">
                        
                            <div v-if="!corregir" class="info-alumno">
                                <p>{{tarea.apodoAlumno}} 
                                    <br>
                                    ({{tarea.nombreAlumno + " " + tarea.apellidoAlumno}})  </p>
                                <p> {{tarea.emailAlumno}}</p>
                                <p>{{tarea.nota}}
                                    <br>
                                    {{tarea.estado}}
                                </p>
                                <a href="#" @click="descargarArchivo(tarea.idEntrega)"> {{tarea.nombreArchivo}}</a>
    
                            </div>
                            <div v-if="!corregir" class="info-editar">
                                <div  class="info-clase eliminar">
                                    <a @click="corregirTarea()" href="#"> corregir</a>
                                </div>
                            </div>

                        
                            <div v-if="corregir" class="info-alumno">
                                <p>Nota</p>
                                <select v-model="tareaCorregida" >

                                    <option value="Aprobado">Aprobado</option>

                                    <option value="Desaprobado">Desaprobado</option>

                                </select>
                            </div>
                            <div v-if="corregir" class="info-editar">
                                <div  class="info-clase eliminar">
                                    <a @click="guardarCorregirTarea(tarea.idEntrega)" href="#"> corregir</a>
                                </div>
                                <div  class="info-clase eliminar">
                                    <a @click="" href="#"> Cancelar</a>
                                </div>
                            </div>
                        
                        
                    <!-- Resto del código -->
                    </div>
                    <div v-if="listaAlumnosTareaEntregada.length === 0 || listaAlumnosTareaEntregada == null" class="informacion-vacia">
                      <h4>Esta tarea no ha sido entregada por ningún alumno.</h4>
                      <h5>Seleccione otra tarea o curso con alumnos.</h5>
                    </div>
                  </div>
                  
                  <div v-else-if="listaAlumno" class="alumnos-contenedor">
                    <div v-for="alumnoInscrito in listaAlumno" class="alumno">
                        <div class="info-alumno">
                            <h6>{{alumnoInscrito.nombreAlumno}} 
                                <br>
                                ({{alumnoInscrito.alumno.nombre + " " + alumnoInscrito.alumno.apellido}})  </h6>
                            <h4> {{alumnoInscrito.alumno.email}}</h4>
                        </div>
                        <div class="info-editar">
                            <div class="info-clase">
                                <a :href="'/Profesor/detalleAlumno.html?='+alumnoInscrito.id"> mas info</a>
                            </div>
                            <div  class="info-clase eliminar">
                                <a @click="eliminarAlumnoDelCurso(alumnoInscrito.alumno.id)" href="#"> eliminar</a>
                            </div>
                        </div>
                      <!-- Resto del código -->
                    </div>
                    <div v-if="listaAlumno.length === 0" class="informacion-vacia">
                      <h4>No hay alumnos inscritos en este curso.</h4>
                      <h5>Seleccione otro curso con alumnos.</h5>
                    </div>
                  </div>
                  
                  <div v-else class="alumnos-contenedor">
                    <div class="informacion-vacia">
                      <h4>No hay alumnos seleccionados.</h4>
                      <h5>Seleccione un curso o tarea para ver los alumnos.</h5>
                    </div>
                  </div>
                  

                <!-- <div v-if="listaAlumno" v-for="alumnoInscrito in listaAlumnoFiltrado" class="alumno">
                    <div class="info-alumno">
                        <h6>{{alumnoInscrito.nombreAlumno}} 
                            <br>
                            ({{alumnoInscrito.alumno.nombre + " " + alumnoInscrito.alumno.apellido}})  </h6>
                        <h4> {{alumnoInscrito.alumno.email}}</h4>
                    </div>
                    <div class="info-editar">
                        <div class="info-clase">
                            <a :href="'/Profesor/detalleAlumno.html?='+alumnoInscrito.id"> mas info</a>
                        </div>
                        <div  class="info-clase eliminar">
                            <a @click="eliminarAlumnoDelCurso(alumnoInscrito.alumno.id)" href="#"> eliminar</a>
                        </div>
                    </div>
                    

                </div>
                <div v-if="listaAlumnosTareaEntregada" class="alumnos-contenedor">
                    <div v-for="tarea in listaAlumnosTareaEntregada" class="alumno">
                        <div class="info-alumno">
                            <p>{{tarea.apodoAlumno}} 
                                <br>
                                ({{tarea.nombreAlumno + " " + tarea.apellidoAlumno}})  </p>
                            <p> {{tarea.emailAlumno}}</p>
                            <p>{{tarea.estado}}
                                <br>
                                {{tarea.estado}}
                            </p>

                            <a href="#"> {{tarea.nombreArchivo}}</a>


                        </div>
                        <div class="info-editar">
                            <div  class="info-clase eliminar">
                                <a @click="eliminarAlumnoDelCurso(alumnoInscrito.alumno.id)" href="#"> corregir</a>
                            </div>
                        </div>
                        
    
                    </div>
                <div v-if="listaAlumnoFiltrado.length == 0">
                    <div  class="informacion-vacia">
                        <h4>este curso todavia no tiene alumnos inscritos</h4>
                        <h5>seleccione una otro curso con alumnos</h5>
                    </div>
                </div>
                <div v-if="istaAlumnosTareaEntregada.length == 0">
                    <div  class="informacion-vacia">
                        <h4>esta tarea todavia no fue entregada por ningun alumno</h4>
                        <h5>seleccione una otro curso con alumnos</h5>
                    </div>
                </div>
                
    
            </div>
            <div v-if="listaAlumno == null && listaAlumnosTareaEntregada == null" class="alumnos-contenedor">
                <div  class="informacion-vacia">
                    <h4>no hay alumnos seleccionados</h4>
                    <h5>selecciona en la lista de cursos</h5>
                </div>

            </div> -->
        </div>
        
    </main>

  </div>
    <!-- Pills navs -->
    
    <script src="https://kit.fontawesome.com/db55518b9d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/Profesor/profesor.js"></script>
</body>
</html>
